anyio==3.7.1
attrs==23.2.0
backoff==2.2.1
blinker==1.7.0
Brotli==1.1.0
certifi==2022.12.7
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
ConfigArgParse==1.7
distlib==0.3.6
docopt==0.6.2
filelock==3.12.0
Flask==3.0.0
Flask-BasicAuth==0.2.0
Flask-Cors==4.0.0
gevent==23.9.1
geventhttpclient==2.0.11
graphql-core==3.2.3
greenlet==3.0.3
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
hypothesis==6.100.1
hypothesis-graphql==0.11.0
hypothesis-jsonschema==0.23.1
idna==3.6
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
junit-xml==1.9
locust==2.20.0
MarkupSafe==2.1.3
msgpack==1.0.7
multidict==6.0.5
packaging==24.0
pipenv==2023.4.29
pipreqs==0.4.8
platformdirs==3.5.0
pluggy==1.5.0
psutil==5.9.7
pycparser==2.21
pyrate-limiter==3.6.0
pytest==8.1.1
pytest-subtests==0.7.0
pywin32==306
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.34.0
requests==2.31.0
roundrobin==0.0.4
rpds-py==0.18.0
schemathesis==3.27.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.37.2
starlette-testclient==0.3.0
tomli==2.0.1
tomli_w==1.0.0
urllib3==2.1.0
virtualenv==20.23.0
virtualenv-clone==0.5.7
Werkzeug==3.0.1
yarg==0.1.9
yarl==1.9.4
zope.event==5.0
zope.interface==6.1
